.my-courses-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
}

.my-courses-container .courses-title{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.my-courses-container .courses-title::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff6b6b;
    margin-top: 10px;
    margin-bottom: 20px;
}

.my-courses-container h1 span{
    color: #ff6b6b;
}
.my-youtube-vedios{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 80vw));
  margin-bottom: 100px;

}
.one-youtube-vedio{
    border-radius: 20px;
    overflow: hidden;
}

.add-link-button{
  margin-left: 10px;
  transform: translateY(-20px);
}
.modal-title{
  margin-bottom: 20px;
  text-align: center;
}

.id-input{
  width:75%;
  margin-bottom: 1vh;
}

.text-area-input{
  width: 75%;
  max-height: 30vh;
  min-height: 10vh;
  margin-top: 2vh;

}

.my-one-vedio-container{
  display: flex;
  justify-content: space-around;
  width: 90vw;
  padding-bottom: 0;
  padding: 3vh 10vh;
  border-radius: 2vh;
  margin-bottom: 10vh;
  position: relative;
  
}

.my-one-vedio-container:nth-child(even){
  flex-direction: row-reverse;
}

.my-courses-container:nth-child(even)  .delete-button{
  top: 10px;
  left: 10px;
  right: auto;
}

.header-one-youtube-vedio{
  font-weight: 800;
  font-size: 1.9rem;
  text-align: center;
  text-transform: capitalize;
  padding: 1vh 2vw;
  border-radius: 1vh;
}

.right-side-youtube-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.delete-button{
  position: absolute;
  bottom: 10px;
  right: 20px;
  border: none;
  padding: 1vh 2vw;
  border-radius: 1vh;
  cursor: pointer;
  border: #ff6b6b 2px solid;
  transition: all 0.3s ease;
}



.delete-button:hover{
  background-color: #ff6b6b;
  color: white;
}

.edit-button{
  position: absolute;
  bottom: 20px;
  right: 10px;
  border: none;
  padding: 0.5vh 1vw;
  border-radius: 1vh;
  cursor: pointer;
  border:  whitesmoke 2px solid;
  transition: all 0.3s ease;
}

.edit-button:hover{
  background-color: whitesmoke;
  color: black;
}

.add-note-button{
  margin-top: 20px;
}

.youtube-notes-div{
  width: 25vw;
  background-color: transparent;
  min-height: 15vh;
  border-radius: 2vh;
  border: #ff6b6b 2px solid;
  margin-top: 3vh;
  overflow-y: scroll;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  max-height: 20vh;

}

.notes-p{
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #ff6b6b;
  padding: 7px 10px;
  border-radius: 1vh;
  text-transform: capitalize;
  text-align: center;
  height: fit-content;
  cursor: pointer;
  transition: all 0.3s ease;
  border: white 2px solid;
  text-overflow: ellipsis;
  white-space: wrap;
  position: relative;
}

.notes-p:hover{
  background-color: #ff6b6b;
  color: white;
}

.hovered-date{
  opacity: 0;
  position: absolute;
  bottom: -35px;
  left: -13px;
  padding: 5px 10px;
  background-color: grey;
  color: black;
  border-radius: 1vh;
}

.notes-p:hover .hovered-date{
  opacity: 1;
}

/* For Webkit browsers (such as Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 2px;
  display: none;

  /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scrollbar handle */
  border-radius: 4px;
  /* Rounded corners of the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scrollbar handle on hover */
}


.display-note-dialog-content{
  text-align: left;
  width: 90%;
  margin: auto;
  padding: 20px 20px;
  border: #f1f1f1 2px solid;
  border-radius: 2vh;
  overflow-y: scroll;
  max-height: 60%;
  cursor: not-allowed;
}

.display-note-dialog-content::-webkit-scrollbar {
  display: none;
}
.display-note-modal-title{
  margin-bottom: 3vh;
}

.display-notes-modal-container{
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
  /* position: relative; */
} 

.display-note-dialog-date{
  position: absolute;
  bottom: 10px;
  right: 35%;
}

.generate-road-map{
  margin-left: 3vw;
}

.road-map {
  background-color : #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80vw;
  margin: 5vh auto;
  font-family: "Handlee", cursive;
}

.road-map h1 {
  text-align: center;
  color: #fff;
}

.road-map-steps,
.road-map-resources,
.road-map-learned {
  margin-bottom: 20px;
}

.road-map-steps h2,
.road-map-resources h2,
.road-map-learned h2 {
  color: #555;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.road-map-steps ol,
.road-map-resources ul {
  list-style-type: none;
  padding-left: 0;
}

.road-map-steps li,
.road-map-resources li {
  margin-bottom: 10px;
}

.road-map-resources a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.road-map-resources a:hover {
  color: #0056b3;
}

.road-map-learned p {
  font-style: italic;
  color: #777;
}

.text-area-code-input{
  width: 75%;
  max-height: 30vh;
  min-height: 10vh;
  margin-top: 2vh;
  font-weight: 400;
  font-family: "Fira Code", monospace;
  font-style: normal;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 2vh;
  border: #ff6b6b 2px solid;
  color: whitesmoke;
  background-color: transparent;
  resize: none;
}

.code-note-snippet{
  margin-top: 2vh;
  text-align: left;
  width: 90%;
  margin-left: 5%;
}

.buttom-bottoms{
  margin-bottom: 5vh;
}