.my-nav-bar{
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.App-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 100 !important;
}

